<div id="dividendDetail" class="widget">
    <section>
        <h3>Dividend Detail</h3>
        @{
            var dividend = Fat.Umbraco.Data.DividendRepository.Get(this);

            if (dividend != null)
            {
            <dl>
                <dt>Ex Date</dt>
                <dd>@dividend.FormattedExDate</dd>

                <dt>Amount</dt>
                <dd>@dividend.Amount.ToString("0.0000")</dd>

                <dt>Franked</dt>
                <dd>@dividend.Franked.ToString("0.0000")</dd>

                <dt>Franking Credit</dt>
                <dd>@dividend.FrankingCredit.ToString("0.0000")</dd>

                <dt>Closing Price</dt>
                <dd>@dividend.ClosingPrice.ToString("0.0000")</dd>

                <dt>Grossed Amount</dt>
                <dd>@dividend.GrossedAmount.ToString("0.0000")</dd>

                <dt>Grossed Yield %</dt>
                <dd>@dividend.GrossedYieldPercentage.ToString("0.0000")</dd>

                <dt>Payable Date</dt>
                <dd>@dividend.FormattedPayableDate</dd>

                <dt>Record Date</dt>
                <dd>@dividend.FormattedRecordDate</dd>
            </dl>
            }
        }
    </section>
</div>
