@using Umbraco.Web
@using uBlogsy.BusinessLogic
@using uBlogsy.Common.Helpers
@using uHelpsy.Helpers
@using Fat.Umbraco.DocumentTypes
@using Vega.USiteBuilder
@inherits umbraco.MacroEngines.DynamicNodeContext
@{
    var content = ContentHelper.GetCurrentContent() as InvestmentNewsPage;
    var landing = DataService.Instance.GetLanding(IPublishedContentHelper.GetNode(1128));
    var links = landing.GetPropertyValue<string>("uBlogsyBlogLinks").Split(Environment.NewLine.ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
    const int count = 12;

    <div id="investmentNews">
        <section>
            <div>@Html.Raw(content.Content)</div>
            <ul id="newsEntries">
                @{
                    var items = new List<RssItem>();
                    foreach (var link in links.Where(link => link.Trim() != string.Empty))
                    {
                        RssReader reader;
                        try
                        {
                            reader = RssReader.CreateAndCache(link, new TimeSpan(0, 30, 0));
                        }
                        catch (Exception) { continue; }

                        if (reader == null) { continue; }

                        items.AddRange(reader.Items.OrderByDescending(x => x.Date));
                    }
                    foreach (var item in items.OrderByDescending(x => x.Date).Take(count))
                    {
                    <li class="newsitem"><a href="@item.Link" title="@item.Title">
                        <div class="title">@item.Title</div>
                        <div class="snippet">@Html.Raw(item.Description)</div>
                        <div class="date">@item.Date</div>
                    </a></li>
                    }
                }
            </ul>
        </section>
    </div>
}