@using Fat.Umbraco.DocumentTypes
@using Vega.USiteBuilder
@using umbraco.MacroEngines

@inherits DynamicNodeContext
@{
    var startNodeId = Parameter.StartNodeId;
    if (startNodeId != null)
    {
        var startNode = Library.NodeById(startNodeId);

        if (startNode.Children.Any())
        {
            var index = 1;
            var active = "";
    <div id="mainNav">
        <nav role="navigation">
            <table role="menu">
                <tr>
                    <td role="menuitem" class="home @Fat.Umbraco.HtmlHelper.RenderHomeNodeActiveClass(Current.Id)">
                        <a class="home @Fat.Umbraco.HtmlHelper.RenderHomeNodeActiveClass(Current.Id)" href="/" title="Home">
                            <img alt="Home" src="/css/Images/home.png" /></a>
                    </td>
                    @foreach (var item in startNode.Children)
                    {
                        var linkItem = ContentHelper.GetByNodeId<LinkItem>(item.Id);

                        if (Current.Id == linkItem.LocalHref) { active = "active"; }
                    
                        <td role="menuitem" class="@active index@(index)">
                            <a href="@linkItem.EffectiveUrl" class="@active" title="@linkItem.RenderTitle" @linkItem.Target>@linkItem.RenderTitle</a>
                        </td>

                        index++;
                        active = "";
                    }
                </tr>
            </table>
        </nav>
    </div>
        }
    }
}


