@using umbraco.MacroEngines
@inherits DynamicNodeContext
<div id="search">
    <form id="searchForm" method="GET">
        <input type="text" id="keywords" name="keywords" />
        <input type="button" id="searchButton" value="GO" />
    </form>
</div>
@{
    var searchResults = Fat.Umbraco.Data.SearchRepository.SearchStock(this);

    if (searchResults != null)
    {

    <div id="searchResultsTitle">
        Search for <span id="searchTerm">@Server.HtmlEncode(HttpContext.Current.Request.QueryString["keywords"])</span> returned <span id="searchCount">@searchResults.Count()</span> results
    </div>        
        
    <div id="searchResults">
        @{
        foreach (var searchResult in searchResults)
        {
            <div class="search-result">
                <a href="/stock-information/@searchResult.Code">
                    <span class="code">@searchResult.Code</span> - 
                    <span class="name">@searchResult.Name</span>
                </a>
                <div class="industry">found in industry @searchResult.Industry</div>
            </div>
        }
        }
    </div>
    }
}

<script type="text/javascript">
    $(function ($) {
        $('#searchButton').click(function () {
            if ($('#keywords').val() != watermark) {
                $('#searchForm').submit();
            }
        });

        $('#keywords').keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
                $(this).blur();
                $('#searchButton').focus().click();
                return false;
            }
        });

        var watermark = 'Search';

        $('#keywords').val(watermark).addClass('watermark');

        $('#keywords').blur(function () {
            if ($(this).val().length == 0) {
                $(this).val(watermark).addClass('watermark');
            }
        });

        $('#keywords').focus(function () {
            if ($(this).val() == watermark) {
                $(this).val('').removeClass('watermark');
            }
        });
    });
</script>
